<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable45-net45+win8" userInstalled="true" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="portable45-net45+win8" userInstalled="true" />
  <package id="Validation" version="2.0.6.15003" targetFramework="portable45-net45+win8" userInstalled="true" />
</packages>